@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;    
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}


body {


background-color: #040714;
}


body h1 {
font-size: calc(0.75em + 1vw);
}


.card {
color: #fcfcfcd5;
/* color: #1f1d1d; */
}

a::after  {
   
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 0;                
  background-color: white;
  bottom: -10px;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1) ;   
  transform: scale(0);
  width: 100%;

   
}

a:hover::after {
/* width: 100%; */
transform: scale(1);
}

#Rtext {
font-size: calc(0.75em + 1vw);

}